* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

/* common thành phần dùng chung */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

:root {
    --color1: #152427;
    --color2: #575d5e;
    --background: #143c3c;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--background);
    line-height: 53px;
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: var(--color1);
}

.section-desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
    color: #7d8188;
}

/* header */
.header {
    padding: 28px 0 13px;
    background: #fff;
    position: sticky;
    top: -15px;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
    position: relative;
}

.header__inner::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -14px;
    content: "";
    background-image: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* background-image: linear-gradient(...): Đặt hình ảnh nền của phần tử ::after thành một gradient dùng để tạo đường viền.
background-size: 100% 1px: Đặt kích thước hình ảnh nền của phần tử ::after là 100% chiều rộng và 1px chiều cao, giúp tạo ra hiệu ứng gradient ngang.
background-repeat: no-repeat: Ngăn việc lặp lại hình ảnh gradient trong phần tử ::after.
background-position: 0 0: Đặt vị trí bắt đầu của hình ảnh gradient là (0, 0), đảm bảo gradient bắt đầu từ vị trí đầu tiên. */

.navbar__list {
    margin-left: 387px;
    display: flex;
    align-items: center;
}

.navbar-item {
    padding: 4px 19px;
}

.navbar__link {
    color: var(--color2);
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
}

.header__btn {
    display: block;
    margin-left: 88px;
}

.navbar__link:hover,
.navbar__link--active {
    position: relative;
    color: var(--color1);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    position: absolute;
    display: block;
    bottom: -32px;
    left: 0;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--background);
}

/* hero */
.hero {
    padding: 60px 0 88px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 32%;
    margin-top: -103px;
}

.hero__media {
    margin-left: 120px;
}

.hero__img {
    position: relative;
    display: flex;
    column-gap: 2rem;
}

.hero__img::before {
    position: absolute;
    content: "";
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero__thumb {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__thumb:nth-child(2) {
    margin-top: 77px;
}

.hero__heading {
    width: 368px;
    font-size: 5rem;
    font-family: Public Sans;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: Public Sans;
}

.hero__button {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__btn-video {
    margin-left: 36px;
    display: flex;
}

.hero__btn {
    position: relative;
}

.hero__btn1 {
    position: absolute;
    top: -13px;
    left: -4px;
}

.hero__btn2 {
    position: absolute;
    top: -6px;
    left: 1px;
}

.hero__watch {
    margin-left: 25px;
    width: 200px;
    display: inline-block;
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.gai__body {
    position: relative;
}

.gai__top {
    position: absolute;
    top: -570px;
    left: -100px;
}

.gai__top2 {
    top: -575px;
    left: -55px;
}

.gai__bottom {
    position: absolute;
    bottom: -30px;
    right: 0px;
}

.gai__bottom2 {
    bottom: -55px;
    right: 45px;
}

/* app */
.app {
    margin: 42px 0 53px;
}

.app__inner {
    padding: 76px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.app__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* services */
.services {
    padding: 53px 0 78px;
}

.title {
    padding-left: 35px;
    position: relative;
    display: block;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
}

.title::before {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--color1);
}

.services__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__subtitle {
    margin-top: 12px;
    position: relative;
    width: 520px;
}

.services__subtitle::after {
    position: absolute;
    top: 80%;
    right: 100px;
    transform: translateY(-70%);
    content: "";
    width: 66px;
    height: 2px;
    background: var(--color1);
}

.services__control:nth-child(1) {
    margin-left: 0;
}

.services__control {
    margin-left: 17px;
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    color: #152427;
    line-height: 54px;
    border: none;
    transition: 0.3s;
}

.services__control:hover {
    background: var(--color1);
    color: #e2eddf;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.services-item {
    transition: 0.3s;
}

.services-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: translateY(-20px);
}

.services-item__thumb {
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.services-item__body {
    padding: 24px;
}

.services-item__heading {
    display: inline-block;
    color: var(--color1);
    font-size: 2.2rem;
    font-weight: 600;
}

.services-item__desc {
    margin-top: 18px;
    width: 268px;
}

/* about */
.about {
    padding: 78px 0 40px;
}

.about__inner {
    display: flex;
}

.about__content {
    margin-left: 64px;
}

.about__image {
    margin-top: 13px;
    position: relative;
    display: flex;
    column-gap: 21px;
}

.about__image::before {
    position: absolute;
    content: "";
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(160px);
    top: 20%;
    left: 25%;
    transform: translate(-50% 50%);
    z-index: 1;
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
}

.about-gai__body {
    position: relative;
}

.about-gai__top {
    position: absolute;
    top: -580px;
    left: 50px;
}

.about-gai__top2 {
    top: -570px;
    left: 100px;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    font-size: 1.6rem;
}

.about-info {
    margin-top: 36px;
    display: flex;
    width: 485px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-info__desc {
    margin-left: 24px;
}

/* process */
.process {
    padding: 40px 0 148px;
}

.process__heading {
    margin-top: 20px;
    position: relative;
    width: 477px;
}

.process__heading::after {
    position: absolute;
    top: 80%;
    right: -8px;
    transform: translateY(-70%);
    content: "";
    width: 66px;
    height: 2px;
    background: var(--color1);
}

.process__list {
    margin-top: 81px;
}

.process-row {
    display: flex;
    align-items: center;
    padding: 57px 41px 36px 30px;
    border-bottom: 1px solid #83a17d;
    position: relative;
    transition: 0.3s;
}

.process-row__thumb {
    position: absolute;
    top: -259px;
    bottom: 0;
    right: 92px;
}

.process-row:hover {
    border-radius: 33px;
    background: #e2eddf;
}

.process-row__numbers {
    color: var(--background);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.4;
}

.process-row__title {
    width: 176px;
    margin-left: 64px;
    color: var(--color1);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-row__title:nth-child(1) {
    margin-left: 0;
}

.process-row__desc {
    width: 572px;
    margin-left: 175px;
    font-size: 1.8rem;
}

.process-row__link {
    margin-left: 80px;
}

.process-row__linkmore {
    display: none;
    margin-top: 22px;
    color: var(--color2);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
}

.process-row:hover .process-row__linkmore {
    display: inline-block;
}

/* project */
.project {
    background: var(--background);
}

.project__row {
    padding-top: 116px;
    display: flex;
    align-items: center;
}

.project__heading {
    position: relative;
    color: #e7f9f9;
}

.project__heading::after {
    position: absolute;
    content: "";
    top: 80px;
    right: 120px;
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.project-info {
    margin-left: 93px;
}

.project-info__desc {
    color: #6a8383;
    font-size: 1.8rem;
    line-height: 1.5;
}

.project-info__browse {
    margin-top: 13px;
}

.project-info__subtile {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.5;
}

.project-info__btn {
    margin-left: 20px;
    border: none;
    background: transparent;
}

.project__media {
    margin-top: 72px;
    padding-bottom: 63px;
}

.project__img {
    position: relative;
}

.project__thumb {
    border-radius: 22px;
    object-fit: cover;
    width: 1140px;
    height: 544px;
}

.project__btn {
    border: none;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-45% -40%);
    color: #fff;
    font-size: 4rem;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #000000b2;
}

.project-gai__body {
    position: relative;
}

.project-gai__top {
    position: absolute;
    top: -620px;
    left: 1110px;
}

.project-gai__top--2 {
    position: absolute;
    top: -711px;
    left: 777px;
}

/* features */
.features {
    background: #fff;
}

.features__inner {
    padding-top: 140px;
}

.features__heading {
    margin: 0 auto;
    width: 520px;
    text-align: center;
}

.features__desc {
    margin: 20px auto 0;
    text-align: center;
    width: 547px;
}

.features__list {
    margin-top: 44px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 45px;
}

.features-item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    background: #fff;
    border: 1px solid #7d8188;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.features-item:hover {
    transform: translateY(-20px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features-item:nth-child(1),
.features-item:nth-child(3) {
    margin-top: 59px;
}

.features-item__icon {
    font-size: 3rem;
}

.features-item__title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
}

.features-item__desc {
    margin-top: 9px;
    width: 286px;
    text-align: center;
}

/* articles */
.articles {
    padding: 184px 0 102px;
}

.articles__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles__subtitle {
    width: 520px;
    position: relative;
}

.articles__subtitle::after {
    position: absolute;
    content: "";
    top: 80px;
    right: -50px;
    width: 82px;
    height: 3px;
    background: var(--color1);
}

.articles__desc {
    font-size: 1.6rem;
    width: 409px;
}

.articles__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.articles-item {
    border-radius: 40px;
    transition: 0.3s;
}

.articles-item__thumb {
    display: block;
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.articles-item__body {
    transition: all 0.3s ease;
    padding: 2.6rem 1.8rem 1.8rem 3.3rem;
    margin-left: -3.3rem;
}

.articles-item__body:hover {
    transform: translateX(30px);
    background: #fff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.articles-item__body:hover .articles-item__btn {
    background: var(--background);
    color: #fff;
}

.articles-item__btn {
    min-width: 107px;
    height: 24px;
    border-radius: 20px;
    background: #e2eddf;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
}

.articles-item__link {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}

.articles-item__info {
    padding: 13px 0;
    width: 100%;
    color: var(--background);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
    border-bottom: 1px solid #c4c4c4;
}

.articles-item__date {
    margin: 15px 0 12px;
    text-align: right;
    padding-right: 5px;
    color: var(--color2);
    font-size: 1rem;
    font-weight: 500;
}

/* footer */
.footer {
    background: var(--background);
    padding: 72px 0 110px;
}

.footer__inner {
    display: flex;
    column-gap: 50px;
    align-items: center;
    position: relative;
}

.footer__inner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
    bottom: -70px;
    left: 0;
    z-index: 2;
}

.footer__list-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    margin-left: 201px;
}

.footer-column__heading {
    width: 411px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    margin-top: 25px;
    position: relative;
}

.footer-form::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0;
    width: 354px;
    height: 1px;
    background: #6a8383;
}

.footer-form__input {
    border: none;
    background: transparent;
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
}

.footer-form__btn {
    color: #c4c4c4;
    width: 26px;
    height: 16px;
    border: none;
    background: transparent;
}

.footer-social {
    display: flex;
    margin-top: 84px;
}

.footer-social__item {
    margin-right: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #c4c4c4;
}

.footer-social__item:hover {
    background: #a75325;
    border-radius: 50%;
}

.footer-item__title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
}

.footer-item__link {
    display: inline-block;
    color: #6a8383;
    font-size: 1.6rem;
    font-family: Public Sans;
    font-weight: 500;
}

.footer-item__link:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.footer-column {
    margin-top: 10px;
}

.footer-item__item {
    margin-bottom: 20px;
    width: 100px;
}
